<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
	<title>FlatWEB - Free Responsive Website HTML5 Template</title>
	<!--[if IE]><meta http-equiv="X-UA-Compatible" content="chrome=1"><![endif]-->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
	<meta name="format-detection" content="telephone=no"></meta>
	<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" ></meta>
	<link rel="dns-prefetch" href="http://fonts.googleapis.com/"></link>
	<link rel="dns-prefetch" href="http://ajax.googleapis.com/"></link>
	<link rel="dns-prefetch" href="http://html5shim.googlecode.com/"></link>
	<link rel="dns-prefetch" href="http://google-analytics.com/"></link>
	<link rel="shortcut icon" href="img/favicon.ico"></link>
	<link rel="apple-touch-icon" href="img/apple-touch-icon-57x57-precomposed.png"></link>
	<link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72-ipad.png"></link>
	<link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114-retina.png"></link>
	<link rel="apple-touch-icon" sizes="144x144" href="img/apple-touch-icon-144x144-retina.png"></link>
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700,400italic"></link>
	<link rel="stylesheet" type="text/css" href="styles/reset.css"></link>
	<link rel="stylesheet" type="text/css" href="styles/styles.css"></link>
	<link rel="stylesheet" type="text/css" href="styles/font-awesome.css"></link>
	<!--[if IE]><link href="http://www.3818.com.ar/styles/fix-old-ie.css" media="all" type="text/css" rel="stylesheet"></link>
<![endif]-->
	<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	<style type="text/css">
		#ads-sidebar{
			margin-right:15px!important;
		}
	</style>
</head>

<body style="padding-top:44px">
<!--[if IE]>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js"></script>
    <style>.chromeFrameInstallDefaultStyle { width: 100%; border: 5px solid #ffa700; }</style><div id="prompt"></div>
    <script>window.attachEvent("onload", function() {CFInstall.check({mode: "overlay", node: "prompt"});});</script>
<![endif]-->


<a class="scroll-point" id="home"></a>

<div id="top">
	<nav>
		<div class="logo clearfix"><a href="#home"></a></div>
		<ul id="menu">
			<li class="first"><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
			<li><a href="#freebies">Freebies</a></li>
			<li><a href="#clients">Clients</a></li>
			<li><a href="#contact">Contact Us</a></li>
		</ul>
		<form class="menu-dropdown hidden">
			<select onChange="location = this.options[this.selectedIndex].value;">
            	<option value="#home">Home</option>
                <option value="#about">About</option>
            	<option value="#freebies">Freebies</option>
            	<option value="#clients">Clients</option>
            	<option value="#contact">Contact US</option>
			</select>
		</form>
		<a href="#menu-footer" class="menu-btn"></a>
	</nav>
</div>		
<header>
	<div class="wrapper">
		<div class="content">
			<hgroup>
				<h1>The Adaptive Design</h1>
				<h2>That Varies Depending On Your Device</h2>
			</hgroup>		
			<div class="clear"></div>				
				<div class="read-on"><a href="#about" class="btn btn-large btn-block btn-inverse">Read On</a>
				<a href="#contact" class="btn btn-large btn-block btn-danger">Hire Us</a></div>
			<div class="clear"></div>
		</div>
	</div>
	<script src="angular.min.js"></script>
	<script src="my.js"></script>
	<script src="https://img.hcharts.cn/highcharts/highcharts.js"></script>
</header>
<a class="scroll-point" id="about"></a>

<div  class="sectiongrey">
	<br/><br/>


	<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css"></link>
	<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>








	<!--angular-->
	<div data-ng-app="myApp" ng-controller="myCtrl">

		<form class="form-horizontal" role="form">

			<div class="form-group">
				<div class="col-sm-4">
				</div>
				<div class="col-sm-2">
					<input type="text" class="form-control" id="front" ng-model="front" placeholder="1"></input>
				</div>
				<div class="col-sm-2">
					<input type="text" class="form-control" id="back" ng-model="back" placeholder="12"></input>
				</div>
				<div class="col-sm-1">
					<button ng-click="myPost()" class="btn btn-default">查看</button>
				</div>
			</div>
		</form>


		<!--chart-->
		<div id="container" style="width:800px;height:400px; margin:0 auto;"></div>


	</div>
























<section>
	<div class="separator"> 
		<div class="line"></div>
		<h2>About Us</h2>
		<div class="line"></div>
	</div>
    <div class="grid3">
		<p>
        We are <a href="http://www.themesforce.com">Themesforce</a>, a small design and development studio based in Lahore, Pakistan. We develop custom applications, html templates, Joomla, Drupal and WordPress themes.
</p>


<p>We manage two tech blogs: <a href="http://www.egrappler.com"><b>EGrappler</b></a> and <a href="http://www.greepit.com"><b>Greepit</b></a>. We provide freebies and open source solutions to assist rapid development of web applications powered by PHP, JavaScript, JQuery, ASP.Net and other programming languages. Try visiting our Themeforest profile for <a href="http://themeforest.net/user/esarfraz/portfolio">premium templates and WordPress themes</b></a>.</p>



</div>
<div class="grid3">
<script async src="http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- On Demos -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-6472538845369616"
     data-ad-slot="4764157394"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</section>
</div>

<a class="scroll-point" id="freebies"></a>
<div class="clear"></div>
<div class="copyrights">Collect from <a href="http://www.cssmoban.com/" title="模板之家">模板之家</a></div>
<div class="sectionteal">
<section>
	<div class="separator"> 
		<div class="line"></div>
		<h2>Freebies</h2>
		<div class="line"></div>
	</div>
	<div class="grid3">
		<article class="col">
			<figure><img src="img/free-html5-responsive-template.jpg" alt="free-html5-responsive-template"></figure>
			<h3><a href="http://www.egrappler.com/free-responsive-html5-portfolio-business-website-template-brownie/">Responsive<br/>HTML5 Template</a></h3>
			<p>Created by using the latest HTML5 and CSS3 techniques, Brownie is a simple and clean Free Responsive HTML5 portfolio and business website template.

</p>
					</article>
		<article class="col">
			<figure><img src="img/free-admin-template-psd.jpg" alt="free-admin-template-psd"></figure>
			<h3><a href="http://www.egrappler.com/free-web-backend-admin-template-psd-app-admin/">Free Admin<br/>Template PSD</a></h3>
			<p>AppAmdin is a free backend web admin PSD template perfect for all kinds of web applications. The PSD is well organized in layers and easily customizable to your needs.

</p>
		</article>
		<article class="col">
			<figure><img src="img/free-professional-html5-cv-resume-template.jpg" alt="free-professional-html5-cv-resume-template"></figure>
			<h3><a href="http://www.egrappler.com/free-professional-html5-cv-resume-template-the-resume/">HTML5 Resume<br/>Template</a></h3>
			<p>Its a free, professional print-ready HTML5 CV/Resume Template with 13 creative themes suitable for every profession.

</p>
					</article>
	</div>
    <div class="clear"></div>
    <div class="grid3">
		<article class="col">
			<figure><img src="img/jquery-image-slider-plugin-with-cool-transition-effects.jpg" alt="jquery-image-slider-plugin-with-cool-transition-effects"></figure>
			<h3><a href="http://www.egrappler.com/jquery-image-slider-plugin-with-cool-transition-effects-quake-slider/">jQuery Image<br/>Slider Plugin</a></h3>
			<p>Open Source jQuery Image / Content Slider Plugin, with support for CSS themes and 40+ cool transition effects.</p>
					</article>
		<article class="col">
			<figure><img src="img/responsive-multi-level-dropdown-menu-wordpress-plugin.jpg" alt="responsive-multi-level-dropdown-menu-wordpress-plugin"></figure>
			<h3><a href="http://www.egrappler.com/a-responsive-multi-level-dropdown-menu-plugin-with-icons-for-wordpress-wpbootm/">WordPress<br/>Menu Plugin</a></h3>
			<p>WPBootM is a responsive multi level dropdown menu plugin for WordPress, based on famous twitter bootstrap framework.</p>
					</article>
		<article class="col">
			<figure><img src="img/free-wordpress-resume-theme-elegant-resume.jpg" alt="free-wordpress-resume-theme-elegant-resume"></figure>
			<h3><a href="http://www.egrappler.com/free-wordpress-resume-theme-elegant-resume/">WordPress<br/>Resume Theme</a></h3>
			<p>We solve problems focusing on the user through tests, metrics and accessibility techniques.</p>
					</article>
	</div>
</section>
</div>
<a class="scroll-point" id="clients"></a>
<div class="clear"></div>

<div class="sectiongrey">
<section>
	<div class="separator"> 
		<div class="line"></div>
		<h2>Clients</h2>
		<div class="line"></div>
	</div>
	<div class="clear"></div>
	<h3 class="sectionh3">Brands we've worked with. <br/> We get to work with some of the best brands in the world.</h3>
	<div id="slide-wrapper">
		<ul class="testimonials">
			<li class="col"><figure><img src="img/clients/computerhistory.png" alt=""></figure></li>
			<li class="col"><figure><img src="img/clients/discoverychannel.png" alt=""></figure></li>
			<li class="col"><figure><img src="img/clients/dockers.png" alt=""></figure></li>
			<li class="col"><figure><img src="img/clients/firefox.png" alt=""></figure></li>
			<li class="col"><figure><img src="img/clients/google.png" alt=""></figure></li>
			<li class="col"><figure><img src="img/clients/levis.png" alt=""></figure></li>
			<li class="col"><figure><img src="img/clients/seagate.png" alt=""></figure></li>
			<li class="col"><figure><img src="img/clients/wynn.png" alt=""></figure></li>
			<li class="col"><figure><img src="img/clients/zipcar.png" alt=""></figure></li>
			
		</ul>
	</div>
	<div class="pagination" id="foo2_pag"></div>
</section>
</div>

<a class="scroll-point" id="contact"></a>
<div class="clear"></div>

<div class="sectionorange">
<section>
	<div class="separator"> 
		<div class="line"></div>
		<h2>Contact Us</h2>
		<div class="line"></div>
	</div>
	<div class="clear"></div>
	<div class="contact-form shadow" id="form">
		<form id="contact_form" method="POST" action="" accept-charset="UTF-8">
		<input type="hidden" name="csrf_token" value="WOmJTlFSei62Ec5msvgIfbDioUG0tIku5CZPXmsC"></input>
		<input type="text" name="job-title-flx" style="display:none"></input>
		<input id="lang" type="hidden" name="lang" value="en"></input>
			<h1>We reply within 24 hours!</h1>
			<fieldset>
				<label for="name">Your Name*</label>
				<input required type="text" name="name" value="" id="name">
				<label for="email">Your Email*</label></input>
				<input required type="email" name="email" value="" id="email">
				<label for="phone">Contact Phone</label></input>
				<input type="text" name="phone" value="" id="phone"></input>
			
			</fieldset>
			<fieldset>
				<label>Type Your Message</label>
				<textarea id="message" name="message"></textarea>
			</fieldset>
			
            <div class="clear">
            <fieldset class="fsubmit">
			<input id="submit" type="button" class="btn btn-primary btn-submit" value="Send Message"></input>
			</fieldset>
            </div>
		</form>
	</div>
	<div class="contact-form hidden" id="thanks">
		<h1 class="color">Thanks, <span id="client_name"></span>!</h1>
		<div class="thanks-txt">
			<figure class="user-pic"><img src="img/team-avatar.jpg" alt="John Donga"></figure>
			<p>Hi!  I’m John the DONGA :), I've just received your message. I will contact you back in a day or two!</p>
		</div>
		<h1>In the meantime you can check out the following</h1>		
		<a href="#" target="_blank" rel="nofollow">Like EGrappler</a>
	</div>

	<div class="bottom-shadow"></div>
	<div class="no-shadow hidden"></div>
	<div class="clear"></div>
    More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>
	
	
</section>
</div>
<div class="sectionblue">
<footer id="footer">
	<div class="wrapper">
		<div class="left-content">
			<a id="menu-footer"></a>
			<div class="logo"><img src="img/logo.png" width="136" height="36"></div>
			<nav class="menu-footer">
				<ul>
					<li><a href="#about">About</a></li>
					<li><a href="#freebies">Freebies</a></li>
					<li><a href="#clients">Clients</a></li>
					<li><a href="#contact">Contact</a></li>
				</ul>
			</nav>
			
	  </div>
		<div class="right-content">
			<div class="social">
				
				<ul>
					<li><a href="#" target="_blank" rel="nofollow" class="icon-twitter"></a></li>
					<li><a href="#" target="_blank" rel="nofollow" class="icon-facebook"></a></li>
                    <li><a href="#" target="_blank" rel="nofollow" class="icon-google-plus"></a></li>
                    <li><a href="#" target="_blank" rel="nofollow" class="icon-github"></a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
</div>


	<script src="js/jquery.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="../wp-content/themes/piha/js/top-bar.js" ></script>
	<script type="text/javascript" src="../wp-content/themes/piha/js/bsa-ads.js" ></script>
	<script src="js/modernizr.custom.js" type="text/javascript"></script>
	<script src="js/jquery.nicescroll.js" type="text/javascript"></script>
	<script src="js/jquery.flip.js" type="text/javascript"></script>
	<script src="js/jquery.localscroll-1.2.7.js" type="text/javascript"></script>
	<script src="js/jquery.scrollTo-1.4.3.1.js" type="text/javascript"></script>
	<script src="js/jquery.carouFredSel-6.2.0.js" type="text/javascript"></script>
	<script src="js/custom.js" type="text/javascript"></script>

</body>

</html>